extends layout

block content
    header.masthead
        div.container.h-100
            div.row.h-100.align-items-center
                div.col-7
                    br
                    br
                    p.section-header What is Chatty?
                    p.info A webapp that randomly puts you in a video chat with up to 7 others.
                    p.section-header How do I switch rooms?
                    p.info If there are other rooms not at capacity, a simple refresh is enough.
                    p.section-header How are new rooms created?
                    p.info When all rooms are full, and someone in full room refreshes or a new user joins.
                div.col-5
                    br
                    br
                    p.section-header Tech stack?
                    p.info Node/Express/PostgreSQL + OpenTok Video API
                    p.section-header Comments and concerns?
                    p.info
                        a(href="mailto:roji@ucsd.edu") Reach out here

                    