doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://static.opentok.com/v2/js/opentok.min.js')
    script(src="https://code.jquery.com/jquery-3.5.1.js", integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=", crossorigin="anonymous")
    script.
        var apiKey = "#{apiKey}";
        var sessionId = "#{sessionId}";
        var token = "#{token}";
  body
    block content
    script(src='/javascripts/chatty.js')
