
.navbar-brand {
  font-size: 2em;
}

.navbar {
  border-bottom: 1px grey solid;
}

.info {
  font-size: 1.1em;
}

.section-header {
  font-size: 1.3em;
  font-weight: bold;

}
.nav-item {
  font-size: 1.5em;
  padding: 10px 20px !important;
  color: rgba(0,0,0,0.6) !important;
}

.nav-item:hover {
  background-color: rgba(0,0,0,0.1);
  transition: ease 0.7s;
  color: black !important;
}

/* cover styling (home/about) */

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://storage.pixteller.com/designs/designs-images/2019-03-27/05/simple-background-backgrounds-passion-simple-1-5c9b95bd34713.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* video container styling */

#video-container {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  height: calc(100vh - 75px - 38px);
  margin-top: 75px;
  background-color: black;
}

#video-container > * {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: 75px;
}

#video-container > *.ot-layout {
  opacity: 1;
}

/* chat page footer buttons styling */

#footer-container > .btn-group {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.btn-group > .btn {
  border-radius: 0px !important;
}

.btn-group > button.active {
  border: 1px black solid !important;
}